[Unit]
Description=mastodon-postgresql.service
Wants=network-online.target
After=NetworkManager.service network.target network-online.target
RequiresMountsFor=/var/lib/containers/storage /var/run/containers/storage

# %E is "the XDG_CONFIG path"
# docker run --net internal_network --restart always --shm-size 256mb --health-cmd CMD,pg_isready,-U,postgres -v ./postgres14:/var/lib/postgresql/data -e POSTGRES_HOST_AUTH_METHOD=trust postgres:14-alpine
[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n 
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run --net internal_network --restart always --shm-size 256mb --health-cmd CMD,pg_isready,-U,postgres -v ./postgres14:/var/lib/postgresql/data -e POSTGRES_HOST_AUTH_METHOD=trust postgres:14 --tag mastodon-postgres
ExecStop=/usr/bin/podman stop mastodon-postgres
ExecStopPost=/usr/bin/podman rm mastodon-postgres
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
